/* Style for header */

header {
    background-color: rgb(92, 64, 117);
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style for navigation menu */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Styling for content/main */

main{
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* Styling for table */

table, th, td {
    border: 1px solid #f2f2f2;
  }

.center {
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #f2f2f2;
  }

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styling for footer */

.footer {
    text-align: center;
    background-color: rgb(92, 64, 117);
    color: #fff;
    padding: 15px;
}
